# Токен вашого Telegram бота (отриманий від @BotFather)
BOT_TOKEN=your_bot_token_here

# Ваш особистий Telegram ID (щоб бот знав, що ви адмін і міг надсилати вам дані та меню вибору)
ADMIN_ID=123456789

# Telegram ID чату з постачальником кодів (це може бути приватний чат з ним або ID групи)
# Для груп ID зазвичай починається з -100 (наприклад: -100987654321)
GIVER_CHAT_ID=987654321

# Шлях до бази даних SQLite
DB_FILE=bot.db
